{% extends 'base.html' %}

{% block title %}Play Boggle!{% endblock %}

{% block content %}
<div id="content">
    <div id="info">
        <h1>Play Boggle!</h1>
        <div id="stats-box">
            <h3 class="stats">High Score: <span class="highlight">{{high_score}}</span></h3>
            <h3 class="stats">Times Played: <span class="highlight">{{times_played}}</span></h3>
        </div>
        <h4 id="instructions">You have sixty seconds before you will not be able to score anymore.</h4>
    </div>
    <table>
        {% for row in board%}
        <tr>
            {% for letter in row %}
            <td><h2>{{letter}}</h2></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <form id="guess-form">
        <input type="text" placeholder="Make a guess" id="guess-input" name="guess">
        <button class="btn" id="submit-btn" type="submit">Submit</button>
    </form>
    <div id="current-stats">
        <h3 class="current-stat">Result: <span id="result"></span></h3>
        <h3 class="current-stat" id="score-counter">Score: <span id="score"></span></h3>
        <button hidden class="btn" id="restart-btn">Restart?</button>
    </div>
    
</div>


{% endblock %}